body {
    background-color: #D6BF5C;
  }
  
  [id="colored_component"] {
    position: absolute;
    width: 200px;
    height: 360px;
    background-color: #79c753;
    border-radius: 4px 4px 30px 4px;
    box-shadow: 5px 5px 3px #BFAB52;
    left: calc(50% - 100px);
  }
  
  [id="screen_border"] {
    position: relative;
    background-color: #4A4A4A;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 160px;
    border-radius: 4px 4px 20px 4px;
  }
  
  [id="screen"] {
    position: relative;
    width: 126px;
    height: 126px;
    top: 16px;
    margin: auto;
    background-color: #B5B28F;
  }
  
  [id="gameboy_color"] {
    position: relative;
    color: white;
    font-size: 9px;
    top: 19px;
    left: 46.7px;
  }
  
  [id="power_light"] {
    position: relative;
    width: 5px;
    height: 5px;
    top: -261.6px;
    left: 15px;
    background-color: black;
    border-radius: 50%;
    transition: background-color 1s ease 0.5s;
    z-index: 100;
  }
  
  [id="power_text"] {
    position: relative;
    font-family: helvetica;
    font-size: 4px;
    color: white;
    top: -99px;
    left: 6.6px;
  }
  
  [class="power-moon"] {
    position: relative;
    width: 5px;
    height: 5px;
    display: inline-block;
    margin-right: -5px;
    border-radius: 50%;
    box-shadow: 2px -0.2px 0 white;
    top: -119.7px;
    left: 8.3px;
  }
  
  #cross_button #vertical {
    position: relative;
    width: 20px;
    height: 55px;
    top: 30px;
    left: 30px;
    background-color: #4A4A4A;
    border-radius: 3px;
  }
  
  [id="cross_button"] [id="horizontal"] {
    position: relative;
    width: 55px;
    height: 20px;
    top: -7px;
    left: 12px;
    background-color: #4A4A4A;
    border-radius: 3px;
  }
  
  [id="up"] {
    position: relative;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #424242;
    top: 3.5px;
    left: 4.5px;
  }
  
  [id="down"] {
    position: absolute;
    width: 0;
    height: 0;
    top: 40px;
    left: 4.5px;
    border-top: 10px solid #424242;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }
  
  [id="left"] {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 5px;
    left: 3.5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #424242;
  }
  
  [id="right"] {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #424242;
    bottom: 5px;
    right: 3.5px;
  }
  
  [id="middle_round"] {
    position: relative;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #424242;
    top: 2.5px;
    margin-left: auto;
    margin-right: auto;
  }
  
  [id="A_button"] {
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #4A4A4A;
    top: -33px;
    left: 155px;
  }
  
  [id="B_button"] {
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #4A4A4A;
    top: -45px;
    left: 125px;
  }
  
  [class="btn-txt"] {
    position: absolute;
    height: 27px;
    width: 27px;
    font-family: helvetica;
    font-size: 11px;
    text-align: center;
    color: #424242;
    top: 7px;
  }
  
  [id="select_button"] {
    position: relative;
    width: 27px;
    height: 6px;
    background-color: #424242;
    border-radius: 5px;
    left: 70px;
  }
  
  [id="start_button"] {
    position: relative;
    width: 27px;
    height: 6px;
    background-color: #424242;
    border-radius: 5px;
    top: -6px;
    left: 110px;
  }
  
  [class="lower-btn-txt"] {
    position: absolute;
    height: 27px;
    width: 27px;
    font-family: helvetica;
    font-size: 7.7px;
    text-align: center;
    color: #424242;
    top: 14.6px;
  }
  
  [class="sound-holes"] {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #424242;
    display: inline-block;
  }
  
  [class="row"] {
    position: absolute;
    right: 20px;
    transform: rotate(-45deg);
  }
  
  [id="1st_row"] {
    right: 6px;
    bottom: 23px;
    margin-right:3px;
  }
  
  [id="3nd_row"] {
    right: 0px;
    bottom: 17px;
    margin-right:4px;
  }
  
  [id="4th_row"] {
    right: 2px;
    bottom: 13px;
    margin-right:4px;
  }
  
  [id="on_offdiv"] {
    position: absolute;
    width: 3px;
    height: 20px;
  }
  
  [id="on_off"] {
    position: absolute;
    width: 3px;
    height: 20px;
    background-color: #424242;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    bottom:260px;
    left: 200px;
    box-shadow: 2px 3px 3px #BFAB52;
    transition: bottom 0.5s ease 0s;
    display: block;
    visibility:visible;
    cursor: pointer;
  }
  
  [id="screen_on"] {
    position: absolute;
    width: 120px;
    height: 120px;
    bottom:176px;
    left: 40px;
    background-color: #EAEAFF;
    visibility: hidden;
  }
  
  [id="buttonon_off"] {
    display: none;
  }
  
  [id="nintendo_sign"] {
    position: relative;
    bottom: 194px;
    left: 73px;
    width: 50px;
    height: 10px;
    font-family: arial black;
    font-size: 10px;
    visibility: hidden;
  }
  
  /*NINTENDO Letters animation on screen*/
  
  [class="letters"] {
    position: absolute;
    width: 120px;
    height: 20px;
    text-align: center;
    bottom: 245px;
    left: 39px;
    font-family:ARIAL BLACK;
    font-size:19px;
    display:inline-block;
    margin-right:-3.5px;
  }
  
  [id="letter_G"] {
    display: inline-block;
    left:0px;
    bottom:240px;
    visibility:hidden;
  }
  
  [id="buttonon_off"]:checked ~ #letter_G {
    visibility: visible;
    transition:all 0s ease 4s;
  }
  
  [id="letter_A"] {
    display: inline-block;
    left:14px;
    bottom:240px;
    visibility:hidden;
  }
  
  [id="buttonon_off"]:checked ~ #letter_A {
    visibility: visible;
    transition:all 0s linear 4.1s;
  }
  
  [id="letter_M"] {
    display: inline-block;
    left:29px;
    bottom:240px;
    visibility:hidden;
  }
  
  [id="buttonon_off"]:checked ~ #letter_M {
    visibility: visible;
    transition:all 0s linear 4.2s;
  }
  
  [id="letter_E"] {
    display: inline-block;
    left:43px;
    bottom:240px;
    visibility:hidden;
  }
  
  [id="buttonon_off"]:checked ~ #letter_E {
    visibility: visible;
    transition:all 0s linear 4.3s;
  }
  
  [id="letter_B"] {
    display: inline-block;
    left:56px;
    bottom:240px;
    visibility:hidden;
  }
  
  [id="buttonon_off"]:checked ~ #letter_B {
    visibility: visible;
    transition:all 0s linear 4.4s;
  }
  
  [id="letter_O"] {
    display: inline-block;
    left:69px;
    bottom:240px;
    visibility:hidden;
  }
  
  [id="buttonon_off"]:checked ~ #letter_O {
    visibility: visible;
    transition:all 0s linear 4.5s;
  }
  
  [id="letter_Y"] {
    display: inline-block;
    left:81px;
    bottom:240px;
    visibility:hidden;
  }
  
  [id="buttonon_off"]:checked ~ #letter_Y {
    visibility: visible;
    transition:all 0s linear 4.6s;
  }
  
  /*on/off button sliding animation*/
  
  [id="buttonon_off"]:checked ~ #on_off {
    bottom:270px;
  }
  
  /*/*Screen light animation */
  
  [id="buttonon_off"]:checked ~ #screen_on {
    visibility: visible;
    transition: all 1s ease 1s;
  }
  
  /*Power light animation */
  
  [id="buttonon_off"]:checked ~ #power_light {
    background-color: red;
  }
  
  /*Nintendo logo screen animation*/
  
  [id="buttonon_off"]:checked ~ #nintendo_sign {
    visibility: visible;
    transition: all 0s linear 3s;
  }
  
  
  
  [id="hey"] {
    position:relative;
    font-family:arial;
    opacity:0.4;
    bottom:260px;
    left:220px;
    animation:cursor 2s linear infinite;
  }
  
  @keyframes cursor {
    0% {left:218px;}
    50% {left:213px;}
    100%{left:213px;}
  }